bcrypt
Flask
Flask-Caching
Flask-Migrate
Flask-Security-Too==3.4.5
Flask-SQLAlchemy
flask_cors
geoalchemy2
IPython
pandas
requests
psycopg2
SQLAlchemy~=1.4
torch
openai
sentence_transformers
networkx
langchain==0.0.191
chromadb
tiktoken
matplotlib
transformers
prettytable